* {
  margin: 0;
}
body {
  margin: 5% auto;
  width: 80%;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.selectDropdown {
  margin: 1em auto;
}
.selectDropdown select {
  width: 150px;
  padding: 3px;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 1;
}
.selectDropdown select:focus {
  outline: none;
  border: 2px solid #4caf50;
}
.tableSection {
  min-width: 450px;
}
#table {
  font-size: 1em;
  font-family: "Arial Narrow bold", Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
td:nth-child(n + 2) {
  text-align: center;
}
thead th {
  background-color: darkorchid;
  color: rgb(184, 184, 12);
}
tbody tr:nth-child(odd) {
  background-color: rgb(95, 149, 190);
  color: rgb(3, 15, 51);
}
tbody tr:nth-child(even) {
  background-color: dodgerblue;
  color: rgb(19, 2, 67);
}
